<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Plus Health</mat-card-title>
      <mat-card-subtitle>Sistema de Gerenciamento de Consultas</mat-card-subtitle>
    </mat-card-header>
    <img src="assets/img/logotipo.svg" alt="">
    <mat-card-content class="conteudo-card">
        <p>
            O Plust Health é um sistema inovador de gerenciamento de clínicas médicas, projetado para simplificar e otimizar o atendimento ao paciente. Com o Plust Health, médicos associados, pacientes e consultas são gerenciados de forma eficiente e intuitiva.<br>
            Nosso objetivo é proporcionar uma experiência de usuário excepcional, permitindo que os profissionais de saúde se concentrem no que é mais importante: cuidar dos pacientes. Com o Plust Health, você tem acesso a uma visão completa do histórico do paciente, agendamento de consultas, e muito mais, tudo em um só lugar.
        </p>
    </mat-card-content>
  </mat-card>
